# Project Files #
#################
*.userprefs
WebGoat/WebGoat.NET.pidb
WebGoat/bin
WebGoat/obj
WebGoat/App_Data/*
WebGoat/Configuration/*.config

# Trash Files #
###############
.DS_Store

DB/.DS_Store
