# Project Files #
#################
*.userprefs
*.pidb
*swp
bin
obj
WebGoat/App_Data/*.txt
*.sqlite*
WebGoat/Configuration/*.config

# Trash Files #
###############
.DS_Store
/Backup/.vs/WebGoat.NET/v16
/Backup1
/.vs/Damm-Vulnerable-dotNet-Web-Application/v16
