<?xml version="1.0"?>
<!--
Web.config file for DotNetGoat.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>	

		<!-- connection strings -->
    	<connectionStrings>
			<clear />
			<add name="SQLiteDbConnection" connectionString="Data Source=|DataDirectory|app_data.sqlite;Version=3;" />
		</connectionStrings>
	

		<system.web>
		<compilation defaultLanguage="C#" debug="true"/>
		
		<!-- show detailed error messages -->
		<customErrors mode="Off"/>
		
		<!-- set up users -->
    	<authentication mode="Forms">
      		<forms timeout="30" loginUrl="~/LoginPage.aspx" requireSSL="false">
      			<!--credentials passwordFormat="Clear">
					<user name="admin" password="admin"/> 
					<user name="mario" password="luigi"/> 
					<user name="bob" password="password"/>
				</credentials-->
			</forms>
    	</authentication>
    	

    	
    	<!-- config membership, role and profile managers -->
		
		<membership defaultProvider="SQLiteMembershipProvider">
			<providers>
				<clear />
				<add 
					applicationName="SQLite ASP.NET Provider" 
					passwordFormat="Clear"
				 	minRequiredNonalphanumericCharacters="0" 
				 	minRequiredPasswordLength="2"
				 	maxInvalidPasswordAttempts="2" 
				 	enablePasswordReset="true" 
				 	enablePasswordRetrieval="true"
				 	passwordAttemptWindow="10" 
				 	requiresQuestionAndAnswer="false"
				 	requiresUniqueEmail="false" 
				 	connectionStringName="SQLiteDbConnection"
				 	name="SQLiteMembershipProvider" 
				 	type="TechInfoSystems.Data.SQLite.SQLiteMembershipProvider, TechInfoSystems.Data.SQLiteProvider" />
			</providers>
		</membership>

		<roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SQLiteRoleProvider">
			<providers>
				<clear />
				<add 
					applicationName="SQLite ASP.NET Provider" 
					connectionStringName="SQLiteDbConnection"
				 	name="SQLiteRoleProvider" 
				 	type="TechInfoSystems.Data.SQLite.SQLiteRoleProvider, TechInfoSystems.Data.SQLiteProvider" />
			</providers>
		</roleManager>

		<profile defaultProvider="SQLiteProfileProvider">
			<providers>
				<clear />
				<add 
					applicationName="SQLite ASP.NET Provider" 
					connectionStringName="SQLiteDbConnection"
				 	name="SQLiteProfileProvider" 
				 	type="TechInfoSystems.Data.SQLite.SQLiteProfileProvider, TechInfoSystems.Data.SQLiteProvider" />
			</providers>
		</profile>
 		
 		<!-- end config membership, role and profile managers -->
		
		<httpHandlers>
		</httpHandlers>
		
		<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />		
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages styleSheetTheme="Default"/>
	
	</system.web>
	
	<!--location path="Content">
    	<system.web>
      		<authorization>
        		<deny users="?" />
        		<allow users="admin,mario,bob"/>
      		</authorization>
    	</system.web>
  	</location-->
  	
  	<!--
  	<location path="Login.aspx">
  		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  	
  	<location path="App_Themes">
    	<system.web>
      		<authorization>
        		<deny users="*" />
      		</authorization>
    	</system.web>
  	</location>
  	
  	<location path="resources">
    	<system.web>
      		<authorization>
        		<deny users="*" />
      		</authorization>
    	</system.web>
  	</location>
  	-->
  	
</configuration>
